.CardItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 10px;
    max-width: 300px;
    height: auto;
    border: solid 1px rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    user-select: none;
    
}

.CardItem:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}

.ItemImg{
    width:200px;
    height: 200px;
    align-self: center;
}

.Info{
    width: 280px;
    text-align: center;

}

.Header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    gap:2px;
    width: 100%;
    padding: 10px;
    color: rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
    
    
}



.OptionButton{
    width:280px;
    height: 40px;
    background-color: rgb(63, 85, 255);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    border-radius: 0px;
    
}

.Footer{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    gap: 0px;
    border: solid 1px rgba(128, 128, 128, 0);
}

