.Navbar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    gap: 20px;
    padding-left: 0px;
    padding-right: 60px;
    background-color: rgb(48, 48, 48);
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    user-select: none;
    
} 



.Titulo{
    font-size: 18px;
    

}



.categorias{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgb(230, 227, 227);
    button{
        background-color: transparent;
        border: none;
        color: rgb(230, 227, 227);
        font-size: 14px;
        font-weight: 100;
        cursor: pointer;
    }
}

.ActiveOption{
   
    padding: 6px;
    border-radius: 2px;
    background-color: rgb(97, 95, 95);
}

.Option{
    color: rgb(230, 227, 227);
    text-decoration: none;
    padding: 6px;
    border-radius: 2px;
    background-color: rgb(48, 48, 48);
}


.cart{
    width: 24px;
 }
 
 .numeroCart{
     color: rgb(247, 247, 247);
     display: inline-block;
     position: relative;
     top: -18px;
     left: -8px;
     font-size: 12px;
     background-color: rgba(22, 21, 21, 0.949);
     border: solid 1.5px rgb(222, 222, 222);
     width:20px;
     height: 20px;
     border-radius: 50%;
     aspect-ratio: 1;
     text-align: center;
 }
 
 a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}