
.Navbar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    
    padding: 20px;
    align-items: center;
    background-color: rgb(48, 48, 48);
    justify-content:space-between;
    
    user-select: none;
    z-index: 999;
    
} 



.Titulo{
    width: 160px;
    border: solid 0px rgba(255, 255, 255, 0.829);
    
}

.TituloSmall{
    display: none;
    border: solid 0px rgba(255, 255, 255, 0.829);
    height: 40px;
}




.categorias{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: rgb(230, 227, 227);
    border: solid 0px rgba(255, 255, 255, 0.829);
    button{
        background-color: transparent;
        border: none;
        color: rgb(230, 227, 227);
        font-size: 14px;
        font-weight: 100;
        cursor: pointer;
    }
}

.ActiveOption{
   
    padding: 6px;
    border-radius: 2px;
    background-color: rgb(97, 95, 95);
}

.Option{
    color: rgb(230, 227, 227);
    text-decoration: none;
    padding: 6px;
    border-radius: 2px;
    background-color: rgb(48, 48, 48);
}




 
 a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

