@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.App{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Nunito Sans", sans-serif;
    background-color:  rgb(225, 220, 220);
    
}

:root{
    --font-color: rgb(40, 40, 40);
}

.container{
    
    display: flex;
    flex-direction: column;
    background-color:  rgb(225, 220, 220);
    align-items: center;
    
}


/* media query */

@media (max-width: 768px){

    

    .Navbar{
        
        .Titulo{
            display: none;
        }
        .TituloSmall{
            display: flex;
            width:60px ;
        }
        .CartBox{
            width: 60px;
        }

        .categorias{
            gap: 0px;
            button{
                font-size: 12px;
            }
        }
        
    }

    .Listgroup{
        gap: 0px;
        padding: 2px;
        .CardItem{
            max-width: 220px;
            
            padding: 0px;
            gap: 0px;
           
        }
    }

    .cart-filled-container{
        .item-container{
            width: 90%;
            
        }
        .checkout-container{
            flex-direction: column;
            width: 90%;
        }

       
    }
    
    
}

@media (max-width: 425px){
    
    .Listgroup{
            gap: 0px;
            padding: 2px;
            .CardItem{
                max-width: 180px;
                
                padding: 0px;
                gap: 0px;
               
            }
        
    }
    .cart-filled-container{
        .item-container{
            width: 90%;
            
        }
        .checkout-container{
            flex-direction: column;
            width: 90%;
        }
    }
}







            

