@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.App{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Nunito Sans", sans-serif;
    background-color:  rgb(225, 220, 220);
    
}

:root{
    --font-color: rgb(40, 40, 40);
}

.container{
    
    display: flex;
    flex-direction: column;
    background-color:  rgb(225, 220, 220);
    align-items: center;
    
}









            

