*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* .container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 120px;
    background-color: rgb(72, 69, 69);
}

.navbar{
    display: flex;
    justify-content: space-between;

} */